{
  "openapi" : "3.0.3",
  "info" : {
    "version" : "2.0",
    "title" : "Organizational Hierarchy APIs",
    "description" : "API Documentation for Organizational Hierarchy APIs\n\n**Supported Client Type:**\n* ```JWT``` - User JWT\n\n* ```SVC``` - Service Token JWT\n"
  },
  "servers" : [ {
    "url" : "http://diapi.npclouda.equinix.com/",
    "x-name" : "Server1"
  } ],
  "security" : [ {
    "Authorization" : [ ],
    "X-AUTH-APIKEY" : [ ]
  }, {
    "X-AUTH-CLIENT-AUTHZ" : [ ],
    "X-AUTH-APIKEY" : [ ]
  } ],
  "tags" : [ {
    "name" : "Organization",
    "description" : "Organization related APIs"
  }, {
    "name" : "Project",
    "description" : "Project related APIs"
  } ],
  "paths" : {
    "/catalog/v1/apps" : {
      "get" : {
        "tags" : [ "App" ],
        "summary" : "To retrieve all apps",
        "description" : "```JWT```\n",
        "operationId" : "getAllApps",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all app catalog details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AppResponse"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource"
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      }
    },
    "/catalog/v1/apps/{appNumber}/products" : {
      "get" : {
        "tags" : [ "App" ],
        "summary" : "To retrieve all products under the given app",
        "description" : "```JWT```\n",
        "operationId" : "getProductsByAppNumber",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "appNumber",
          "in" : "path",
          "description" : "appNumber",
          "required" : true,
          "example" : "0001",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProductResponse"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource"
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      }
    },
    "/catalog/v1/products" : {
      "get" : {
        "tags" : [ "App" ],
        "summary" : "To retrieve all products including App information",
        "description" : "```JWT```\n",
        "operationId" : "getAllProducts",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProductResponse"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource"
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/isCRHMigrated" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To retrieve the root Org associated to the given cust org along with products information",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "getRootOrgProducts",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-AUTH-ORG-ID",
          "in" : "header",
          "description" : "Customer organization ID from JWT token",
          "required" : false,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custOrgs",
          "in" : "query",
          "description" : "Cust Organization ID's to be filtered against",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        }, {
          "name" : "product",
          "in" : "query",
          "description" : "Product name",
          "required" : false,
          "example" : "ECX",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "resourceType",
          "in" : "query",
          "description" : "Resource Type",
          "required" : false,
          "example" : "L2_Connection",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved Customer Organization Root and associated Products",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CrhRootOrgProductResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/rootOrg" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To determine whether the cust-org is CRH enabled or not",
        "description" : "```JWT``` ```SVC```\n\nThis is an Organization API, used by clients to check whether CRH hierarchy is enabled for the cust org or not. <BR> A cust-org can be either reseller or subcustomer or none.\n",
        "operationId" : "getRootOrg",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-AUTH-ORG-ID",
          "in" : "header",
          "description" : "Customer organization id, will be considered in absence of both userName and custOrgId in query parameter",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "username",
          "in" : "query",
          "description" : "Portal Login User Name, this field takes precedence over X-AUTH-ORG-ID",
          "required" : false,
          "example" : "test@equinix.com",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custOrgId",
          "in" : "query",
          "description" : "Customer organization id, this field takes precedence over X-AUTH-ORG-ID",
          "required" : false,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved associated Root Organization status",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/RootOrgEnabledResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/associatedAccounts" : {
      "post" : {
        "tags" : [ "Project" ],
        "summary" : "To retrieve Billing Account Associations",
        "description" : "```SVC```\n\nThe API retrieves the Billing Account Associations based on the ancestor flag. If true, BA associations are fetched for a set of project id's based on the ancestor hierarchy. If false, the associations are fetched based on the given set of project id's\n",
        "operationId" : "getAssociatedAccountsByProjectIds",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ancestors",
          "in" : "query",
          "description" : "whether to include associations from it's ancestors",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO standard 2 letter country code",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "SG"
          }
        }, {
          "name" : "metroCode",
          "in" : "query",
          "description" : "Metro Code",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "SG"
          }
        }, {
          "name" : "ibxCode",
          "in" : "query",
          "description" : "Operational Unit Ibx Code",
          "required" : false,
          "schema" : {
            "type" : "string",
            "example" : "SG"
          }
        }, {
          "name" : "globalAccountType",
          "in" : "query",
          "description" : "Search for Global , Regional or All Accounts",
          "required" : false,
          "schema" : {
            "enum" : [ "NON_GLOBAL", "GLOBAL", "ALL" ],
            "default" : "NON_GLOBAL"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/AssociatedBillingAccountsRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all Billing Account association details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/AssociatedBillingAccountsResponse"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/customerOrganization/{custOrgId}" : {
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "To update customer organization CRH Enabled Flag",
        "description" : "```JWT```\n",
        "operationId" : "updateCustOrgCrhEnabledStatus",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custOrgId",
          "in" : "path",
          "description" : "Customer organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "Status indicating, whether customer organization is enabled or  not",
          "example" : false,
          "schema" : {
            "type" : "boolean"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/customerOrganization/{custOrgId}/productToggle" : {
      "get" : {
        "tags" : [ "Product Toggle" ],
        "summary" : "To retrieve all products under the given app",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "getCustomerProductToggle",
        "parameters" : [ {
          "name" : "custOrgId",
          "in" : "path",
          "description" : "Customer Organization Id",
          "required" : true,
          "example" : "7033",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all customer level product toggle",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProductToggleResponse"
                }
              }
            }
          },
          "401" : {
            "description" : "You are not authorized to view the resource"
          },
          "403" : {
            "description" : "Accessing the resource you were trying to reach is forbidden"
          },
          "404" : {
            "description" : "Resource not found"
          },
          "500" : {
            "description" : "Internal Server Error"
          }
        },
        "deprecated" : false
      },
      "post" : {
        "tags" : [ "Product Toggle" ],
        "summary" : "To Enable a product toggling for a customer organization Id",
        "description" : "```JWT``` ```SVC```\n",
        "parameters" : [ {
          "name" : "custOrgId",
          "in" : "path",
          "description" : "Customer Organization Id",
          "required" : true,
          "schema" : {
            "type" : "string"
          },
          "style" : "simple"
        }, {
          "name" : "isNetNewCustomerFlag",
          "in" : "query",
          "description" : "Net New Customer Flag this will internally enable the custOrg in to CRH Experience",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "style" : "form"
        }, {
          "name" : "isCrhEnabledRequested",
          "in" : "query",
          "description" : "Explicit flag to enable the custOrg in to CRH Experience, future usecase",
          "required" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          },
          "style" : "form"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/productToggleRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Product toggle request is accepted by the system",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "string"
                }
              }
            }
          },
          "202" : {
            "description" : "Accepted"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false,
        "operationId" : "Organizationproducttoggle"
      }
    },
    "/resourceManager/v1/{custOrgId}/inbox" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "To retrieve inbox project resource",
        "description" : "```JWT```\n",
        "operationId" : "getInboxProjectByCustOrgId",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "custOrgId",
          "in" : "path",
          "description" : "Customer Organization Id",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved inbox project resource",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/projects/{projectId}/permittedParent" : {
      "get" : {
        "tags" : [ "Project" ],
        "summary" : "To retrieve the permitted parents of an asset by projectId",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "getPermittedParentByProjectId",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "projectId",
          "in" : "path",
          "description" : "Project ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved permitted parents of asset by projectId",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ProjectResponse"
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/customerOrganizations/associations" : {
      "post" : {
        "tags" : [ "CustomerOrganization" ],
        "summary" : "Persist customer organization data that can be associated",
        "description" : "```JWT``` ```SVC```\n\nThe API persists the association data, which can be associated by user\n",
        "operationId" : "saveCustOrgToBeAssociated",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/CustOrgToBeAssociatedRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved an existing customer organization that can be associated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustOrgToBeAssociatedResponse"
                }
              }
            }
          },
          "201" : {
            "description" : "Successfully saved customer organization that can be associated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustOrgToBeAssociatedResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "CustomerOrganization" ],
        "summary" : "Retrieve customer organizations details which can be associated - based on request criteria",
        "description" : "```JWT``` ```SVC```\n\nThe API to retrieve customer organization details which can be associated\n",
        "operationId" : "getAllCustOrgToBeAssociated",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "reseller",
          "in" : "query",
          "description" : "fetch reseller organizations or not",
          "required" : false,
          "example" : false,
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "subCustomer",
          "in" : "query",
          "description" : "fetch subcustomer organizations or not",
          "required" : false,
          "example" : true,
          "schema" : {
            "type" : "boolean",
            "default" : true
          }
        }, {
          "name" : "statuses",
          "in" : "query",
          "description" : "customer organization statuses to fetch",
          "required" : false,
          "example" : "AVAILABLE_TO_ASSOCIATE",
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "array",
            "default" : "AVAILABLE_TO_ASSOCIATE",
            "items" : {
              "$ref" : "#/components/schemas/CustOrgAssociationStatus"
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all association details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustOrgToBeAssociatedResponsePagination"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/customerOrganizations/{customerOrganizationId}/associations" : {
      "get" : {
        "tags" : [ "CustomerOrganization" ],
        "summary" : "Retrieve customer organization details which can be associated",
        "description" : "```JWT``` ```SVC```\n\nThe API to retrieve customer organization details which can be associated\n",
        "operationId" : "getCustOrgToBeAssociated",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerOrganizationId",
          "in" : "path",
          "description" : "Customer organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved to be associated details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustOrgToBeAssociatedResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "patch" : {
        "tags" : [ "CustomerOrganization" ],
        "summary" : "Update customer organization association status",
        "description" : "```JWT``` ```SVC```\n\nThe API to update customer organization association status\n",
        "operationId" : "updateCustOrgToBeAssociatedStatus",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerOrganizationId",
          "in" : "path",
          "description" : "Customer organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "status",
          "in" : "query",
          "description" : "customer organization status to update",
          "required" : true,
          "example" : "ASSOCIATE_IN_PROGRESS",
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "array",
            "default" : "ASSOCIATE_IN_PROGRESS",
            "items" : {
              "$ref" : "#/components/schemas/CustOrgAssociationStatus"
            }
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "CustomerOrganization" ],
        "summary" : "To delete customer organization details available for association",
        "description" : "```JWT``` ```SVC```\n\nThe API to delete customer organization details available for association\n",
        "operationId" : "deleteCustOrgToBeAssociated",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "customerOrganizationId",
          "in" : "path",
          "description" : "Customer organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/i1/organizations/{orgId}/meta" : {
      "patch" : {
        "tags" : [ "Organization" ],
        "summary" : "Update meta attribute of an organization",
        "description" : "```SVC```\n",
        "operationId" : "patchOrganizationMeta",
        "parameters" : [ {
          "in" : "path",
          "name" : "orgId",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "CRH Resource Id of the organization to patch the meta attribute"
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/resourceMetaUpdateRequest"
        },
        "responses" : {
          "200" : {
            "description" : "Successfully saved customer organization that can be associated",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ResourceMetaUpdateResponse"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/i1/organizations/hierarchy" : {
      "patch" : {
        "tags" : [ "Organization" ],
        "summary" : "To update an list of organizations - based on requestType",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "updateOrganizationsSubTypeByOperation",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "requestType",
          "in" : "query",
          "description" : "Request type representing the update operation",
          "required" : true,
          "allowEmptyValue" : false,
          "example" : "UPDATE_RESOURCES_SUBTYPES",
          "schema" : {
            "type" : "string",
            "enum" : [ "UPDATE_RESOURCES_SUBTYPES" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/orgSubTypeUpdateRequest"
                }
              }
            }
          },
          "description" : "Request payload to update the organization",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/i1/organizations/{organizationId}/hierarchy" : {
      "patch" : {
        "tags" : [ "Organization" ],
        "summary" : "To update an organization - based on requestType",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "updateOrganizationByOperation",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "111234234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "requestType",
          "in" : "query",
          "description" : "Request type representing the update operation",
          "required" : true,
          "allowEmptyValue" : false,
          "example" : "UPDATE_RESOURCE_SUBTYPE",
          "schema" : {
            "type" : "string",
            "enum" : [ "UPDATE_RESOURCE_SUBTYPE" ]
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateOrganizationSubTypeRequest"
              }
            }
          },
          "description" : "Request payload to update the organization",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations" : {
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "To create new organization",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "saveOrganization",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-ROOT-ORG",
          "in" : "header",
          "description" : "Root Organization resource ID (Optional, while creating a topmost parent organization. Required, for all other scenarios)",
          "required" : false,
          "example" : "11123412123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/createOrganizationRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "headers" : {
              "schema" : {
                "$ref" : "#/components/headers/location"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To retrieve all Organizations by input criteria",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "getAllOrganizations",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved all Organizations",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/OrganizationResponse"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/merge" : {
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "To validate merge organization",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "mergeOrganizations",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "type",
          "in" : "query",
          "description" : "To re-trigger the merge operations based on persisted correlationId",
          "required" : false,
          "example" : "REFRESH",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/organizationMergeRequest"
        },
        "responses" : {
          "202" : {
            "description" : "Successfully initiated the org merge operation",
            "headers" : {
              "schema" : {
                "$ref" : "#/components/headers/organizationMergeLocation"
              }
            }
          },
          "208" : {
            "description" : "Org merge already completed for input correlationId",
            "headers" : {
              "schema" : {
                "$ref" : "#/components/headers/organizationMergeLocation"
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/merge/status" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To populate the organizations merge statuses by input requestId list",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "mergeOrganizationsStatus",
        "parameters" : [ {
          "name" : "requestId",
          "in" : "query",
          "description" : "List of request ids (comma separated)",
          "required" : true,
          "example" : [ "9cd7d6-075ee3-5c6b4e-ccdcfd-79e5f75a", "9cd7d6-075ee3-5c6b4e-ccdcfd-79e5f75b" ],
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationMergeStatusPagination"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/merge/validate" : {
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "To validate merge organization",
        "description" : "```SVC```\n",
        "operationId" : "validateMergeOrganization",
        "parameters" : [ {
          "name" : "source",
          "in" : "query",
          "description" : "source of caller",
          "required" : false,
          "example" : "PDS",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/organizationMergeRequest"
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/organizationMergeResponse"
                },
                "examples" : {
                  "Example 1" : {
                    "value" : {
                      "success" : false,
                      "errors" : [ {
                        "errorCode" : "EQ-3004502",
                        "errorMessage" : "Validation error",
                        "details" : "Property validation error",
                        "correlationId" : "c1ce77f3-78ae-8f87-4a33-f4e5ec77a6a1",
                        "additionalInfo" : [ {
                          "errorCode" : "ORG_DOES_NOT_EXIST",
                          "errorMessage" : "Requested Organization does not exist"
                        } ]
                      } ]
                    }
                  },
                  "Example 2" : {
                    "value" : {
                      "success" : true
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/{organizationId}" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To retrieve organization details by ID",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "getOrganizationByOrganizationId",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "level",
          "in" : "query",
          "description" : "Number of sub level details required for this organization. <br/> level = 1, then child details would be retrieved.",
          "required" : false,
          "schema" : {
            "type" : "integer",
            "minimum" : 0,
            "maximum" : 1,
            "example" : 0
          }
        }, {
          "name" : "additionalFields",
          "in" : "query",
          "description" : "Additional fields in response",
          "required" : false,
          "schema" : {
            "type" : "array",
            "items" : {
              "enum" : [ "deleteAllowed" ]
            }
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved organization details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationResponse"
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "To update an organization",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "updateOrganizationByOrganizationId",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "111234234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/updateOrganizationRequest"
              }
            }
          },
          "description" : "Request to update organization",
          "required" : true
        },
        "responses" : {
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      },
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "To delete an organization",
        "description" : "```JWT``` ```SVC```\n\nTo delete an organization. The organization cannot be deleted if there are sub-customers or resources underneath.\n",
        "operationId" : "deleteOrganizationByOrganizationId",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Id of the organization to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully deleted organization"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/{crhOrganizationId}/accounts/{accountNumber}" : {
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "To delete account number from organization or delete the organization as well if supplied account number is the only available account number attached to the organization",
        "description" : "```JWT``` ```SVC```\n\nTo delete an organization. The organization cannot be deleted if there are sub-customers or resources underneath.\n",
        "operationId" : "deleteAccountOrOrganizationByAccountNumber",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "crhOrganizationId",
          "in" : "path",
          "description" : "CRH Organization ID",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "accountNumber",
          "in" : "path",
          "description" : "Account number to be deleted",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "202" : {
            "description" : "Successfully deleted the resource"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "409" : {
            "description" : "Conflict",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ConflictError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : false
      }
    },
    "/resourceManager/v1/organizations/{organizationId}/associations" : {
      "get" : {
        "tags" : [ "Organization" ],
        "summary" : "To retrieve all billing account associations of an organization",
        "description" : "```JWT``` ```SVC```\n\nRetrieves the available billing account associations for the given organization.\n",
        "operationId" : "getOrganizationAssociationsWithBillingAccount",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "ancestors",
          "in" : "query",
          "description" : "whether to retrieve inherited billing account details, which are associated on its parent hierarchy",
          "schema" : {
            "type" : "boolean",
            "default" : false
          }
        }, {
          "name" : "countryCode",
          "in" : "query",
          "description" : "ISO standard 2 letter country code",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "example" : "SG"
          }
        }, {
          "name" : "metroCode",
          "in" : "query",
          "description" : "Metro code",
          "required" : false,
          "allowEmptyValue" : false,
          "schema" : {
            "type" : "string",
            "example" : "SG"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Successfully retrieved association details",
            "content" : {
              "application/json" : {
                "schema" : {
                  "type" : "array",
                  "items" : {
                    "$ref" : "#/components/schemas/ResourceBillingAccountsAssociationResponse"
                  }
                }
              }
            }
          },
          "204" : {
            "description" : "No Content"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "post" : {
        "tags" : [ "Organization" ],
        "summary" : "To associate the organization with billing account",
        "description" : "```JWT``` ```SVC```\n\nTo associate the organization with billing account. Every billing account belongs to one country and the only one billing from a country can be made default. When there are no default billing accounts for an organization then the first billing is defaulted for selection.\n",
        "operationId" : "associateOrganizationWithBillingAccount",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "$ref" : "#/components/requestBodies/ResourceBillingAccountsAssociationRequest"
        },
        "responses" : {
          "201" : {
            "description" : "Associated"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      }
    },
    "/resourceManager/v1/organizations/{organizationId}/associations/{billingAccountId}" : {
      "delete" : {
        "tags" : [ "Organization" ],
        "summary" : "To de-associate the organization with billing account",
        "description" : "```JWT``` ```SVC```\n",
        "operationId" : "disAssociateOrganizationFromBillingAccount",
        "parameters" : [ {
          "name" : "X-CORRELATION-ID",
          "in" : "header",
          "description" : "Unique Id to correlate the requests",
          "example" : "123-1234-456-123",
          "schema" : {
            "type" : "string"
          }
        }, {
          "name" : "organizationId",
          "in" : "path",
          "description" : "Organization ID",
          "required" : true,
          "example" : "1234",
          "schema" : {
            "type" : "string"
          }
        }, {
          "$ref" : "#/components/parameters/billingAccountId"
        } ],
        "responses" : {
          "204" : {
            "description" : "Successfully de-associated"
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/BadRequestError"
                  }
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/UnAuthorizedError"
                  }
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/ForbiddenAccessError"
                  }
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorModel"
                },
                "examples" : {
                  "schema" : {
                    "$ref" : "#/components/examples/InternalServerError"
                  }
                }
              }
            }
          }
        },
        "deprecated" : true
      },
      "put" : {
        "tags" : [ "Organization" ],
        "summary" : "To update the association of an organization with billing account",
[...]
